section {
  background-color: #1570EF;
  padding: 6.5rem 0;
}
  
section .bannerSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
  
section .bannerSection div {
  max-width: 700px; 
}
  
section .bannerSection div .bannerTitle {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
}

section .bannerSection div .bannerDecription {
  font-size: 1.4rem;
  color: #141544; 
  margin-top: 1rem;
}

section .bannerSection div button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #22215B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
section .bannerSection div .imageBanner {
  width: 553px;
  height: 426px;
}
  
@media screen and (max-width: 600px) {
  section {
    padding: 3rem 0; 
  }
  
  section .bannerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  section .bannerSection div {
    max-width: 100%; 
    padding: 0 1rem; 
  }
  
  section .bannerSection div .bannerTitle {
    font-size: 1.2rem;       
  }
  
  section .bannerSection div .bannerDecription {
    font-size: 0.7rem; 
  }
  
  section .bannerSection div button {
    margin-top: 1rem; 
    width: 80%; 
    max-width: 100px; 
    font-size: 0.5rem;
  }
  
  section .bannerSection div .imageBanner {
    width: 100%; 
    height: auto;
  }
}
  