.sidebar-page {
  padding-top: 35px;
}

.course-table {
  width: 100%;
  margin: 20px;
  border-collapse: collapse;
  border-spacing: 0 10px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.course-table table {
  margin: 0 auto;
  width: 90%;
}

.course-table th,
.course-table td {
  margin-left: 10px;
  border-bottom: 3px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.course-table tbody tr {
  border-bottom: 3px solid black;
  overflow: hidden;
}

.course-table tbody tr:hover {
  background-color: #f8f8f8;
}

.course-table tbody tr:last-child {
  border-bottom: none;
}

.point-row {
  padding-top: 20px;
}

.course-table tbody tr img {
  border-radius: 5px;
}

.course-table th {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 20px;
}

.course-table tbody tr td {
  padding: 20px 20px;
}

.course-table tbody tr td button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.course-table tbody tr td button:hover {
  color: #007bff;
}

@media (max-width: 1000px) {
  .course-table th:nth-child(4),
  .course-table td:nth-child(4) {
    display: none;
  }

  @media (max-width: 768px) {
    /* Hide Parent Category and Description columns */
    .course-table th:nth-child(3),
    .course-table td:nth-child(3),
    .course-table th:nth-child(4),
    .course-table td:nth-child(4) {
      display: none;
    }

    .course-table th,
    .course-table td {
      padding: 8px;
    }

    @media (max-width: 480px) {
      .course-table table {
        font-size: 14px;
      }
    }
  }
}
